newla
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2019-05-01/workflowdefinition.json#",
        "actions": {
            "Get_Octopus_Logs": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "https://YOUR_OCTOPUS_URL/api/events?skip=0&take=50",
                    "headers": {
                        "X-Octopus-ApiKey": "API-YOURKEY"
                    }
                },
                "runAfter": {}
            },
            "Parse_Logs": {
                "type": "ParseJson",
                "runAfter": {
                    "Get_Octopus_Logs": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "content": "@body('Get_Octopus_Logs')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "foreachItems": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "Id": {"type": "string"},
                                        "RelatedDocumentIds": {
                                            "type": "array",
                                            "items": {"type": "string"}
                                        },
                                        "Category": {"type": "string"},
                                        "UserId": {"type": "string"},
                                        "Username": {"type": "string"},
                                        "IsService": {"type": "boolean"},
                                        "IdentityEstablishedWith": {"type": "string"},
                                        "UserAgent": {"type": "string"},
                                        "Occurred": {"type": "string"},
                                        "Message": {"type": "string"},
                                        "MessageHtml": {"type": "string"},
                                        "MessageReferences": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "ReferencedDocumentId": {"type": "string"},
                                                    "StartIndex": {"type": "integer"},
                                                    "Length": {"type": "integer"}
                                                }
                                            }
                                        },
                                        "Comments": {"type": ["string", "null", "object"]},
                                        "Details": {"type": ["string", "null", "object"]},
                                        "ChangeDetails": {
                                            "type": ["object", "null"],
                                            "properties": {
                                                "DocumentContext": {"type": ["object", "null"]},
                                                "Differences": {
                                                    "type": ["array", "null"],
                                                    "items": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "For_Each_Log": {
                "type": "Foreach",
                "runAfter": {
                    "Parse_Logs": [
                        "Succeeded"
                    ]
                },
                "foreach": "@body('Parse_Logs')?['foreachItems']",
                "actions": {
                    "Send_to_Sentinel": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://YOUR_DCE_REGION_NAME.ingest.monitor.azure.com/dataCollectionRules/YOUR_DCR_IMMUTABLE_ID/streams/Custom-OctopusDeploy_CL?api-version=2021-11-01-preview",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": [
                                {
                                    "TimeGenerated": "@{coalesce(items('For_Each_Log')?['Occurred'], utcNow())}",
                                    "Id": "@{items('For_Each_Log')?['Id']}",
                                    "RelatedDocumentIds": "@{items('For_Each_Log')?['RelatedDocumentIds']}",
                                    "Category": "@{items('For_Each_Log')?['Category']}",
                                    "UserId": "@{items('For_Each_Log')?['UserId']}",
                                    "Username": "@{items('For_Each_Log')?['Username']}",
                                    "IsService": "@{items('For_Each_Log')?['IsService']}",
                                    "IdentityEstablishedWith": "@{items('For_Each_Log')?['IdentityEstablishedWith']}",
                                    "UserAgent": "@{items('For_Each_Log')?['UserAgent']}",
                                    "Occurred": "@{items('For_Each_Log')?['Occurred']}",
                                    "Message": "@{items('For_Each_Log')?['Message']}",
                                    "MessageHtml": "@{items('For_Each_Log')?['MessageHtml']}",
                                    "MessageReferences": "@{items('For_Each_Log')?['MessageReferences']}",
                                    "Comments": "@{items('For_Each_Log')?['Comments']}",
                                    "Details": "@{items('For_Each_Log')?['Details']}",
                                    "ChangeDetails": "@{items('For_Each_Log')?['ChangeDetails']}"
                                }
                            ],
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://monitor.azure.com/"
                            }
                        },
                        "runAfter": {}
                    }
                }
            }
        },
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}
